<h1>About LAMS - Leave & Attendance Management System!</h1>
                

<table cellspacing="1" cellpadding="0" width="100%" border="0">
<tbody><tr>
<td>
</td>
</tr>
<tr>
<td>
<p>
<br>
The Leave and Attendance Management system (LAMS) has following main components:<br>
<br>
<b>Attendance/Leave Section:</b><br>
Leave and Attendance Management system will allow user to apply for different type
of leaves (Paid leave/Optional leave/Leave without Pay/Maternity leave/Paternity
leave/Child adoption leave), view leave transactions, view reportee's leave applications.
This section will also allow user to view the attendance records for past 2 weeks
including current week status. Employees will be allowed to apply for optional holiday
from Attendance/leave section.
</p>
<p>
<b>Actions</b><br>
This section allows the user to approve/reject reportee's leave/attendance regularization.
This section will also allow the employee to apply for leave/attendance regularization
for his direct/indirect reportees.
</p>
<p>
<b>HR Management Section:</b><br>
This section is available to HR Managers only, facilitates them to manage leave
years, holiday information, employee's information on PSI Deputation, special leave
approval and pending leave approval.<br>
<br>
<b>Reports:</b><br>
Various reports like leave transaction details, leave summary and leave balance
can be generated depending upon the role of the user who has logged in.
</p>
<p>
<b>Help:</b><br>
Help includes a set of FAQ and a presentation on the usage of leave and attendance
management system and also a link to the employee manual.
</p>
<br>
</td>
</tr>

    </tbody></table>
    <font color="red">If you find any discrepancies in the leave data, please contact
            <a href="mailto:abc@persistent.co.in" style="color: Red"><u>LAMS Team</u>
            </a> from HR</font>